body {
  /*font-family: 'IBM Plex Sans', sans-serif;*/
  /*font-family: 'IBM Plex Sans Condensed', sans-serif;*/
  /*font-family: 'IBM Plex Serif', serif;*/
  font-family: 'IBM Plex Mono', monospace;
  background-image: url();
  color: royalblue;
  background-color: darkturquoise;
}